extends layouts/default

block content
	main.grid
		section.grid__item-sm
			h1 Acauã Montiel

			p #[+icon('codepen')] #[+icon('facebook')] #[+icon('github')] #[+icon('instagram')] #[+icon('linkedin')] #[+icon('twitter')] #[+icon('youtube')]

