/*
 * General Config
 */

// Transitions
$transition-default = $transition.time.default
$transition-slow = $transition.time.slow
$transition-fast = $transition.time.fast

// Selections
$selection-color = $color.black
$selection-background = $color.white

// Body
$body-color = $color.white
$body-background = $color.black


/*
 * General Styles
 */

+selection()
	color $selection-color
	background $selection-background

body
	color $body-color
	background $body-background
